# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
# videos
src/assets/videos/
*.mp4
!src/assets/videos/
!src/assets/videos/case-studies/
!src/assets/videos/case-studies/turbine-upgradation.mp4
!src/assets/videos/case-studies/tecno-agri-farms-card.mp4
!src/assets/videos/case-studies/tecno-agri-farms-project.mp4
!src/assets/videos/blogs/
!src/assets/videos/blogs/bore-well-drilling-cost-pakistan-2026.mp4
!src/assets/videos/news/
!src/assets/videos/news/fj-group-independence-day-2026.mp4
.vercel
